body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

body>header {
    background-color: #627A14;
    padding: 1vh 1vw;
    height: 10vh;
    box-sizing: border-box;
    color: #fff;
}

body>main {
    height: 85vh;
}

body>footer {
    height: 5vh;
    background-color: #B3CB65;
}

h1.app-title {
    font-size: 36px;
    text-align: center;
}

section.main-feature {
    float: left;
    background-color: #fbfbfb;
    width: 80vw;
    height: 85vh;
}

aside.secundary-feature {
    float: right;
    background-color: #6F4D8F;
    width: 20vw;
    height: 85vh;
    color: #fff;
}