$preenchimento: 25px;

body {
    padding: $preenchimento + 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    background-image: url("../img/fundo.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 20px;
    z-index: -1;
}

.btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.campo {
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 3px solid #aaaaaa;
    background-color: yellow;
    opacity: 0.8;
}

.column {
    float: left;
    &__velha {
        width: 33.33%;
    }
}

.row {
    content: "";
    display: table;
    clear: both;
}

#jogo {
    padding: $preenchimento;
    text-align: center;

    &>#menu {
        width: 20%;
        position: absolute;
        background: yellow;
    }

    &>#velha {
        width: 60%;
        padding-left: 30%;
        position: absolute;
    }

    &>#jogador {
        width: 20%;
        padding-left: 70%;
        
        &>.peca {
            position: absolute;
        }
    }

    &>#resultado {
        background: yellow;
        position: absolute;
        bottom: 0px;
        width: 93%;
    }
}