$preenchimento: 25px;

body {
    padding: $preenchimento + 5px;
}

.btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.campo {
    width: 120px;
    height: 120px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.column {
    float: left;
    &__velha {
        width: 33.33%;
    }
}

.row {
    content: "";
    display: table;
    clear: both;
}

#jogo {
    padding: $preenchimento;
    text-align: center;

    &>#menu {
        width: 20%;
        position: absolute;
        background: yellow;
    }

    &>#velha {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%;
    }

    &>#jogador {
        width: 80%;
        position: absolute;

        &>.peca {
            display: inline;
            margin-left: -60px;
            cursor: pointer;
            padding-top: $preenchimento;
        }
    }

    &>#resultado {
        background: yellow;
    }
}